.chat-list {
  flex: 1;
  padding: 10px;
  //background-color: #f0f0f0;
  overflow-y: auto;

  background: $note-sidebar-color;
  border-right: 1px solid darken($note-sidebar-color, 10%);
  height: 100%;

  &:hover {
    overflow-y: auto;
  }

  &-item {
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
    border-bottom: 1px solid darken($note-sidebar-color, 8%);
    font-weight: 500;
    font-size: 0.85rem;
    line-height: 1.3;

    &:hover {
      background: darken($note-sidebar-color, 5%);

    }

    &.selected {
      background: darken($note-sidebar-color, 5%);
    }

    .chat-list-message {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      color: rgba(0, 0, 0, 0.4);
      margin-left: 25px;
    }
  } 

  &-contact {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .avatar-container {
    position: relative;
    display: inline-block;
  }

  .avatar-img {
    width: 50x; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
  }

  .unread-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}