 // Colors
 $primary: #5183f5;
 $font-color: #404040;
 $sidebar-color: #e5e5e5;

// Font
 $sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
   'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
 $monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;

